* 
{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root
{
  --gris-fondo: #F0F1F4;
  --morado-principal:#483CDF;
}

html
{
  font-family: 'Open Sans', sans-serif;
}

body 
{
  background-color: var(--gris-fondo);
}

/* ---------- HEADER ---------- */

body .titulo 
{
  margin-top: 50px 0 25px 0;
  font-weight: 800;
  text-align: center;
}

body .titulo span { color: var(--morado-principal); }

