* 
{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root
{
  --blanco: #fff;
  --gris-fondo: #F0F1F4;
  --gris-sombra: #c4c4c4;
  --morado-principal:#483CDF;
  --rojo: #D72223;
}

html
{
  font-family: 'Open Sans', sans-serif;
}

body 
{
  background-color: var(--gris-fondo);
}

/* ---------- HEADER ---------- */

body .titulo 
{
  margin: 50px 0 25px 0;
  font-weight: 800;
  text-align: center;
}

body .titulo span { color: var(--morado-principal); }

/* ---------- MAIN ---------- */

main
{
  display: flex;
  /* column-gap: 0px; */
  margin-bottom: 50px;
  margin: 0 auto 50px auto;
}

/* ---------- FORMULARIO PACIENTES ---------- */

main .formulario-pacientes
{
  width: 40%;
}

main .formulario-pacientes h2
{
  text-align: center;
  font-weight: 800;
  margin-bottom: 10px;
}

main .formulario-pacientes p
{
  text-align: center;
  font-weight: 600;
  margin-bottom: 25px;
}

main .formulario-pacientes p span
{
  color: var(--morado-principal);
  font-weight: 700;
}

/* ---------- FORMULARIO ---------- */

main .formulario-pacientes form
{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  padding: 30px 20px;
  background-color: var(--blanco);
  border-radius: 10px;
  box-shadow: 5px 5px 8px var(--gris-sombra);
}

main .formulario-pacientes form label
{
  font-weight: 700;
  margin-bottom: 10px;
}

main .formulario-pacientes form :is(input, textarea)
{
  padding: 10px;
  border-radius: 5px;
  border: 3px solid var(--gris-fondo);
  margin-bottom: 15px;
  outline: none;
  font-family: "Open Sans", Arial;
}

main .formulario-pacientes form :is(input, textarea):focus { border-color: var(--morado-principal); }

main .formulario-pacientes form textarea
{
  min-width: 100%;
  max-width: 100%;
  min-height: 50px;
  width: 100%;
}

main .formulario-pacientes form input[type="submit"]
{
  cursor: pointer;
  background-color: var(--morado-principal);
  color: var(--blanco);
  font-weight: 700;
  font-size: 1.05rem;
  margin-top: 10px;
}

/* ---------- LISTADO DE PACIENTES ---------- */

main .listado-pacientes
{
  width: 60%;
}

main .listado-pacientes :is(h2, p) { text-align: center; }

main .listado-pacientes h2
{
  text-align: center;
  font-weight: 800;
  margin-bottom: 10px;
}

main .listado-pacientes p
{
  text-align: center;
  font-weight: 600;
  margin-bottom: 25px;
}

main .listado-pacientes p span
{
  color: var(--morado-principal);
  font-weight: 700;
}

/* ---------- PACIENTE ---------- */

main .listado-pacientes .card-paciente
{
  background-color: var(--blanco);
  width: 90%;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 8px var(--gris-sombra);
}

main .listado-pacientes .card-paciente h3
{
  text-transform: uppercase;
  margin-bottom: 15px;
}

main .listado-pacientes .card-paciente h3 span
{
  text-transform: none;
  font-weight: 600;
}

main .listado-pacientes .card-paciente .botones
{
  display: flex;
  justify-content: space-between;
}

main .listado-pacientes .card-paciente .botones :is(.editar, .eliminar)
{
  background: none;
  border: none;
  padding: 10px 35px;
  border-radius: 7px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--blanco);
}

main .listado-pacientes .card-paciente .botones .editar { background-color: var(--morado-principal); }
main .listado-pacientes .card-paciente .botones .eliminar { background-color: var(--rojo); }
