* 
{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root
{
  --blanco: #fff;
  --gris-fondo: #F0F1F4;
  --gris-sombra: #c4c4c4;
  --morado-principal:#483CDF;
}

html
{
  font-family: 'Open Sans', sans-serif;
}

body 
{
  background-color: var(--gris-fondo);
}

/* ---------- HEADER ---------- */

body .titulo 
{
  margin: 50px 0 25px 0;
  font-weight: 800;
  text-align: center;
}

body .titulo span { color: var(--morado-principal); }

/* ---------- MAIN ---------- */

main
{
  display: flex;
  column-gap: 20px;
  margin-bottom: 50px;
}

/* ---------- FORMULARIO PACIENTES ---------- */

main .formulario-pacientes
{
  width: 50%;
}

main .formulario-pacientes h2
{
  text-align: center;
  font-weight: 800;
  margin-bottom: 10px;
}

main .formulario-pacientes p
{
  text-align: center;
  font-weight: 600;
  margin-bottom: 25px;
}

main .formulario-pacientes p span { color: var(--morado-principal); }

/* ---------- FORMULARIO ---------- */

main .formulario-pacientes form
{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  padding: 30px 20px;
  background-color: var(--blanco);
  border-radius: 10px;
  box-shadow: 5px 5px 8px var(--gris-sombra);
}

main .formulario-pacientes form label
{
  font-weight: 700;
  margin-bottom: 10px;
}

main .formulario-pacientes form :is(input, textarea)
{
  padding: 10px;
  border-radius: 5px;
  border: 3px solid var(--gris-fondo);
  margin-bottom: 15px;
  outline: none;
  font-family: "Open Sans", Arial;
}

main .formulario-pacientes form :is(input, textarea):focus { border-color: var(--morado-principal); }

main .formulario-pacientes form textarea
{
  min-width: 100%;
  max-width: 100%;
  min-height: 50px;
  width: 100%;
}

main .formulario-pacientes form input[type="submit"]
{
  cursor: pointer;
  background-color: var(--morado-principal);
  color: var(--blanco);
  font-weight: 700;
  font-size: 1.05rem;
  margin-top: 10px;
}